* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*
tipografias

font-family: 'Bona Nova', serif;
font-family: 'Italiana', serif;

*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #ffc26f;
  align-items: center;
}
header .h2Header {
  color: black;
  font-family: "Italiana", serif;
}
header .navbar {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-right: 1.25rem;
}
header .navbar li {
  display: inline-block;
  font-weight: bold;
}
header .navbar li a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-family: "Italiana", serif;
}
header .icono img {
  width: 100px;
  height: 100px;
}
header .col-sm-12 img {
  width: 100px;
  height: 100px;
}

main {
  background-color: #f9e0bb;
}
main h1 {
  font-family: "Italiana", serif;
  font-size: 6rem;
  color: #884a39;
}
main .sectionPrincipal {
  display: flex;
  flex-direction: row;
}
main .sectionPrincipal img {
  height: 25rem;
  width: 60rem;
}
main .sectionPrincipal .caja {
  display: flex;
  width: 35rem;
  height: 25rem;
  background-color: #c38154;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .sectionPrincipal .caja p {
  font-family: "Italiana", serif;
  font-size: 1.25rem;
  color: #884a39;
  font-weight: bolder;
}
main .circulo {
  width: 13rem;
  height: 13rem;
  background-image: url(../assets/img/photo1.jpg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-size: 1.5rem;
}
main .circulo :hover {
  font-size: 1.7rem;
}
main .circulo p {
  color: black;
  font-family: "Italiana", serif;
  font-weight: bolder;
}
main .sectionAbajo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 6rem;
}
main .sectionAbajo .cuadradoBlanco {
  height: 10rem;
  background-color: white;
  font-family: "Bona Nova", serif;
}
main .sectionAbajo .cuadradoBlanco h3 {
  font-size: 2rem;
  padding-left: 1rem;
}
main .sectionAbajo .cuadradoBlanco p {
  padding-top: 0.5rem;
  padding-left: 25rem;
  font-size: 1.1rem;
  padding-right: 4rem;
}
main .sectionAbajo img {
  width: 18rem;
  height: 24rem;
}
main .cuadradoDeAbajo1 {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 8rem;
}
main .cuadradoDeAbajo1 .cuadradoDeAbajo {
  width: 20rem;
  height: 4rem;
  background-image: url(../assets/img/photo1.jpg);
}
main .cuadradoDeAbajo1 .cuadradoDeAbajo p {
  text-align: center;
  padding-top: 1.5rem;
  font-family: "Italiana", serif;
  font-weight: bolder;
}
main .galeriaPinturas {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  justify-items: center;
  align-items: center;
}
main .galeriaPinturas img {
  width: 13rem;
  height: 17rem;
}
main .galeriaPinturas figure figcaption {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Italiana", serif;
  font-weight: bolder;
}
main .cuadradoMarron {
  height: 10rem;
  background-color: rgb(107, 51, 21);
  font-family: "Bona Nova", serif;
}
main .cuadradoMarron h3 {
  color: white;
  font-size: 2rem;
  padding-left: 1rem;
}
main .cuadradoMarron p {
  color: white;
  padding-right: 8rem;
  padding-left: 20rem;
}
main .cuadradoArriba {
  background-image: url(../assets/img/galeria.jpg);
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .cuadradoArriba h4 {
  font-size: 2.1875rem;
  font-family: "Italiana", serif;
  color: #f9e0bb;
}
main .cuadradoServicios {
  width: 50%;
  height: 15rem;
  background-color: rgb(107, 51, 21);
  color: white;
  font-family: "Bona Nova", serif;
}
main .cuadradoServicios img {
  height: 15rem;
  width: 50%;
  position: absolute;
  right: 0;
}
main .cuadradoServicios2 {
  width: 50%;
  height: 15rem;
  background-color: rgb(107, 51, 21);
  color: white;
  font-family: "Bona Nova", serif;
}
main .cuadradoServicios2 img {
  height: 15rem;
  width: 50%;
}
main .sectionContacto {
  height: 25rem;
  width: 45rem;
}
main .sectionContacto img {
  width: 15rem;
  height: 20rem;
}
main .sectionContacto p {
  font-family: "Bona Nova", serif;
  text-align: center;
}
main .h2Contacto {
  font-family: "Italiana", serif;
  font-size: 2rem;
  text-align: center;
}
main .h2Contacto {
  font-family: "Italiana", serif;
  font-size: 2rem;
  text-align: center;
}
main .iconosIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
}
main .iconosIndex figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .iconosIndex figure img {
  width: 1.875rem;
  height: 1.875rem;
}
main .sectionCirc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}
main .sectionCirc a {
  text-decoration: none;
}

footer {
  background-color: #ffc26f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-family: "Bona Nova", serif;
  text-align: center;
}
footer img {
  width: 2rem;
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
